<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>
    {%- unless page.layout == "home" -%} {{ page.title | append: " | "}} {%- endunless -%} {{
    site.title }}
  </title>

  {% seo title=false %}

  <!-- {% include favicons.html %} -->

  <!-- jsDelivr CDN -->
  <link rel="preconnect" href="cdn.jsdelivr.net" />
  <link rel="dns-prefetch" href="cdn.jsdelivr.net" />

  <!-- Bootstrap -->
  <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/viewerjs@1.9.0/dist/viewer.min.css"
    integrity="sha256-HbgwwKz2FeE5EbHJlDM7c6av12LUjKWxVH3pAvUtZfQ=" crossorigin="anonymous" />

  <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}" />

  <script src="{{ '/assets/js/home.min.js' | relative_url }}" async></script>

</head>