---
---

img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

h1 {
  display: table;
  font-size: 20px;
  margin-top: 0px;
  padding: 4px 8px;
  line-height: 25px;
  margin-bottom: 25px;
  border: 3px solid rgb(255, 170, 12);
}
