---
---

img {
  max-width: 100%;
}

body {
  background-color: rgb(250, 250, 250);
}

.gallery-item-img {
  object-fit: cover;
  background-color: rgb(80, 70, 3);
}

.gallery-item-img:hover .gallery-item-info {
  opacity: 1;
}

.gallery-item-info {
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.1s ease-in;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 12px;
  opacity: 0;
}

.gallery-item-link {
  display: block;
  width: 100%;
}

.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.name {
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 0;
  display: block;
  color: black;
}

.profile-info {
  margin: 90px auto 0;
  text-align: center;
}

.bio {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  margin-top: 16px;
  margin-bottom: 0;
}

.date-time {
  position: absolute;
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  font-size: 12px;
}
