---
layout: null
---

<!DOCTYPE html>

{% if site.lang %} {% assign lang = site.lang | split: "_" | first %} {% else %}
{% assign lang = 'en' %} {% endif %}

<html lang="{{ lang }}">
  {% include head.html %}

  <body data-spy="scroll">
    <div class="container-fluid px-sm-5">
      <div class="py-md-5 py-4">
        <a class="website-name h3" href="/"><strong>@տիգրան</strong></a>
        <a class="menu-item" href="https://tigransimonyan.com">Blog</a>
        <a class="menu-item" href="/feed.xml">RSS</a>
        <h2>{{site.description}}</h2>
      </div>
      {{content}} {% include footer.html %}
    </div>
  </body>
</html>
