---
layout: page
---

<div class="row gx-5 gy-4 mt-4" id="gallery">
  {% for post in site.posts %}
  {% for photo in post.photos %}
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="ratio ratio-1x1">
      <img class="gallery-item-img rounded-2 lozad"
        title="{{post.camera}} | {{post.film}} | {{post.date | date: '%-d %b %Y'}}" data-src="{{photo}}" />
    </div>
    <!-- href="{{ post.url | relative_url }}" target="_blank" -->
    <div class="gallery-item-info py-2">
      {{post.date | date: "%m/%Y"}} · {{post.film}}
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>

{% include lozad.html %}