---
layout: page
---

<div class="gallery" id="gallery">
  {% for post in site.posts %}
  {% for photo in post.photos %}
  <div class="gallery-item">
    <!-- href="{{ post.url | relative_url }}" target="_blank" -->
    <div class="gallery-item-img lozad" title="{{post.camera}} | {{post.film}} | {{post.date | date: " %-d %b %Y"}}"
      data-background-image="{{photo}}">
      <!-- <div class="gallery-item-info">
        <p class="small m-0"><i class="bi bi-camera mr-2"></i>{{post.camera}}</p>
        <p class="small m-0"><i class="bi bi-film mr-2"></i>{{post.film}}</p>
        <p class="small m-0"><i class="bi bi-calendar4-week mr-2"></i>{{post.date | date: "%-d %B %Y"}}</p>
      </div> -->
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>

{% include lozad.html %}