---
layout: page
---

<div class="row gx-5 gy-4 mt-4" id="gallery">
  {% for post in paginator.posts %}
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="ratio ratio-1x1">
      <img class="gallery-item-img rounded-2 lozad spotlight"
      data-animation="slide,fade"
        title="{{post.date | date: '%-d %b %Y'}} | {{post.camera}} | {{post.film}}" data-src="{{post.photo}}" />
    </div>
    <!-- href="{{ post.url | relative_url }}" target="_blank" -->
    <div class="gallery-item-info py-2">
      {{post.date | date: "%m/%Y"}} · {{post.film}} · {{post.camera}}
    </div>
  </div>
  {% endfor %}
</div>

{% if paginator.next_page or paginator.previous_page %}
<div class="d-flex pt-5 pb-4 justify-content-center align-items-center">
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="fs-6 d-block px-2 text-decoration-none">
    ← older photos
  </a>
  {% else %}
  <span class="fs-6 d-block px-2">
    ← older photos
  </span>
  {% endif %}
  /
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="fs-6 d-block px-2 text-decoration-none">
    newer photos →
  </a>
  {% else %}
  <span class="fs-6 d-block px-2">
    newer photos →
  </span>
  {% endif %}
</div>
{% endif %}

{% include lozad.html %}