---
layout: default
---

{{ content }}

<div class="row mt-5" id="gallery">
	<div class="col-sm-12 col-md-2 col-lg-2"></div>
	<div class="col-sm-12 col-md-8 col-lg-8">
		<img class="gallery-item-img lozad" title="{{post.date | date: '%-d %b %Y'}} | page.location"
			data-src="{{page.photo}}" />
		<div class="mt-4">
			<h6>🗓️ {{page.date | date: "%b %Y"}}</h6>
			<h6>📍 {{page.location}}</h6>
			<h6>🎞️ {{ site.data.films[page.film] }}</h6>
			<h6>📷 {{ site.data.cameras[page.camera]}}</h6>
			{% if page.description != '' %}
			<h6>📃 {{page.description}}</h6>
			{% endif %}

			<div id="zoomment" data-theme="light" data-language="en" data-gravatar="monsterid"
				data-emotions="❤️,😀,🪄,🥸,💡,🤔,💩,😢"></div>
			<script src="https://cdn.zoomment.com/zoomment.min.js"></script>
		</div>
	</div>
	<div class="col-sm-12 col-md-2 col-lg-2"></div>
</div>


{% include lozad.html %}